button {
    display: inline-block;
    padding: 11px 32px 9px;
    min-width: 113px;
    margin: 0 12px;

    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    outline: none;

    border-radius: 500px;
    overflow: visible;

    font-size: 12px;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition-property: background-color,color,box-shadow;
    transition-duration: .3s;
}

button.primary {
    border: none;
    color: #fff;
    background-color: #1db954;
}

button.primary:hover {
    background-color: #1ed760;
    text-decoration: none;
}

button.secondary {
    border: none;
    color: #616467;
    box-shadow: 0 0 0 2px #616467 inset;
}

button.secondary:hover {
    color: #fff;
    background-color: #616467;
}
